
/* Set defaults and put a black border at the top 
of the page*/
body {
	font-family: Helvetica, Arial, sans-serif;
	border-top: 5px solid black;
	color: black;
	margin: 15px;
}

/* Position the container relative and make the height
100% - this will allow us to push the footer to the
bottom of the page when there's not a lot of content
on the page. Set a min-height so the footer doesn't
overlap the rest of the content*/
.container {
	position: relative;
	height: 100%;
	min-height: 400px;
}

/* Make a little space for the header */
h1 {
	padding-top: 4px;
}

/*Style lesson links so that it can be re-used 
for all tutorial projects. Remove text-decorations
and bullets, add a left border. CONSIDER: separately
styling the practise project link (last-child?)*/

.lesson-links h2 {
	margin: 35px 40px 0;
}

.lesson-links ul {
	margin: 20px 40px;
	border-left: 3px solid black;
	padding-left: 10px;
}



.lesson-links ul li {
	list-style: none;
	text-decoration: none;
	padding: 3px;
}

.lesson-links ul li a {
	text-decoration: none;
	color: black;
}

.lesson-links ul li a:hover {
	text-decoration: underline;
}

.lesson-links aside {
	float: right;
}

.lesson-links aside a {
	text-decoration: none;
	color: black;
}

.lesson-links aside a:hover {
	text-decoration: underline;
}

/*Style the footer and position it absolute. Push it
to the bottom of the page*/
footer {
	margin: 60px 0 5px;
	border-top: 5px solid #5b2143;
	padding-top: 25px;
	color: 808080;
	position: absolute;
	bottom: 0;
	width: 100%;
}