body {
	font-family: Helvetica, Arial, sans-serif;
	border-top: 5px solid black;
	color: black;
	margin: 15px;
}

/*header {
	padding-top: 10px;
}*/

h1 {
	padding-top: 4px;
}

.lesson-links h2 {
	margin: 35px 40px 0;
}

.lesson-links ul {
	margin: 20px 40px;
	border-left: 3px solid black;
	padding-left: 10px;
}

.lesson-links ul li {
	list-style: none;
	text-decoration: none;
	padding: 3px;
}

.lesson-links ul li a {
	text-decoration: none;
	color: black;
}

.lesson-links ul li a:hover {
	text-decoration: underline;
}